# .github/workflows/rubocop_rspec.yml

name: RuboCop and RSpec

on:
  push:
    branches:
      - development

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Install dependencies
        run: |
          gem install bundler -v 2.4.22
          bundle install

      - name: Run RuboCop
        run: bundle exec rubocop
        continue-on-error: true

  rspec:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: bdd_file_be_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Install dependencies
        run: |
          gem install bundler -v 2.4.22
          bundle install
          rails db:create
          RAILS_ENV=test rails db:migrate

      - name: Run RSpec
        run: bundle exec rspec
